<a href="https://colab.research.google.com/github/ROHSEUNGWAN/-/blob/master/RSWtest1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#8번
i = 0
while i <=100:
    i = i + 5
    print(i)

    
#8번    
for i in range(5, 101, 5):
    print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
105
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [2]:
#8번
a = 5

for i in range(1, 101):
        if i%a == 0: 
            print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
ERROR! Session/line number was not unique in database. History logging moved to new session 63

In [4]:
#9번
a = 0

sum = 0

while a<100:

    a = a+5

    sum += a

print(sum)

1050

In [8]:
#9번
a = 5

sum = 0

for i in range(1, 101):
    if i%a == 0:
        sum += i
print(sum)

1050

In [10]:
#10번
print("1부터 100까지 숫자 중 5의 배수의 갯수는", int(100/5),"개 입니다")

1부터 100까지 숫자 중 5의 배수의 갯수는 20 개 입니다

In [17]:
#10번
num = []

a = 5

for i in range(1, 101):
    if i%a == 0:
        num.append(i)

print(len(num))

20